.anarcandy {
    --wP: url('anarcandy.svg#wP');
    --wB: url('anarcandy.svg#wB');
    --wN: url('anarcandy.svg#wN');
    --wR: url('anarcandy.svg#wR');
    --wQ: url('anarcandy.svg#wQ');
    --wK: url('anarcandy.svg#wK');
    --bP: url('anarcandy.svg#bP');
    --bB: url('anarcandy.svg#bB');
    --bN: url('anarcandy.svg#bN');
    --bR: url('anarcandy.svg#bR');
    --bQ: url('anarcandy.svg#bQ');
    --bK: url('anarcandy.svg#bK');
}
