.tatiana {
    --wP: url('tatiana.svg#wP');
    --wB: url('tatiana.svg#wB');
    --wN: url('tatiana.svg#wN');
    --wR: url('tatiana.svg#wR');
    --wQ: url('tatiana.svg#wQ');
    --wK: url('tatiana.svg#wK');
    --bP: url('tatiana.svg#bP');
    --bB: url('tatiana.svg#bB');
    --bN: url('tatiana.svg#bN');
    --bR: url('tatiana.svg#bR');
    --bQ: url('tatiana.svg#bQ');
    --bK: url('tatiana.svg#bK');
}
